# задание 1

In [ ]:
# Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
# - оценка 2 и меньше - низкий рейтинг
# - оценка 4 и меньше - средний рейтинг
# - оценка 4.5 и 5 - высокий рейтинг

# Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')
rating = pd.read_csv('ratings.csv')
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
def classif (row):
    if row['rating'] <= 2:
        return 'Низкий рейтинг'
    elif row['rating'] <= 4:
        return 'Средний рейтинг'
    elif 4.5 < row['rating'] <= 5:
        return 'Высокий рейтинг'

In [4]:
rating['class'] = rating.apply(classif, axis =1)
rating.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  Средний рейтинг
1       1        3     4.0  964981247  Средний рейтинг
2       1        6     4.0  964982224  Средний рейтинг
3       1       47     5.0  964983815  Высокий рейтинг
4       1       50     5.0  964982931  Высокий рейтинг

# Задание 2

In [ ]:
#гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. 
# Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. 
# Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
# Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [5]:
geo_data = {
    'Центр':          ['москва', 'тула', 'ярославль'],
    'Северо-Запад':   ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
            }

keyw = pd.read_csv('keywords.csv')
keyw.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [6]:
def qwer(wqd):
    for key, value in geo_data.items():
        for city in value:
            if city in keyw['keyword']:
                return (key)
    return 'undefined'

In [19]:
keyw['region'] = keyw.apply(qwer, axis =1)
keyw.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined